
@media (max-width: 996px) {
    .text, .restaurants__description {
        font-size: 14px;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        display: none;
    }

    .main__cards {
        width: 14vw;
    }
    .arrows {
        width: 25px;
    }
    .carousel-control-prev {
        right: 50px;
    }
    .carousel-control-next {
        right: 0;
    }
    .restaurants__name {
        max-width: 20px;
    }
}


@media (max-width: 768px) {

    .text, .restaurants__description {
        font-size: 12px;
    }

    .city-modal, 
    .main__cards:last-child,  
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .main__cards {
        width: 16vw;
    }

    .restaurants__item {
        width: 500px;
    }
    .restaurants__name {
        max-width: 16px;
    }
}

@media (max-width: 480px) {
    .text, .restaurants__description {
        font-size: 10px;
    }

    .search {
        width: 150px;
    }

    .main__cards {
        width: 90px;
    }

    .main__cards:nth-last-child(-n+2) {
        display: none;
    }

    .main__cards {
        width: 85px;
    }
}

@media (max-width: 370px) {
    .search {
        display: none;
    }
    .main__cards {
        width: 65px;
    }
}